// @card-height: 169px;
@card-height: 110px;
@card-width: 100%;

.not-selectable() {
	cursor: default;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	 -khtml-user-select: none; /* Konqueror HTML */
	   -moz-user-select: none; /* Firefox */
		-ms-user-select: none; /* Internet Explorer/Edge */
			user-select: none; /* Non-prefixed version, currently
								  supported by Chrome and Opera */
}

.series-card-wrapper {
	height: @card-height;
	width: @card-width;
	margin-bottom: 10px;
    position: relative;
	overflow: hidden;

	.view-link {
		z-index: 10;
		color: white;
		position: absolute;
		top: -6px;
		color: #fff;
		background-color: rgba(66,66,66,.7);
		width: 21px;
		padding-left: 3px;
		left: 0;
		height: 25px;
	}

    .series-card-container {
        .banner-wrapper {
            display: inline-block;
            position: relative;
            height: @card-height;
            overflow: hidden;
			max-width: 300px;
			width: 100%;
			height: 110px;

            img {
                z-index: 4;
                width: 300px;
            }

            .image-overlay {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 5;
            }
        }

        .title-wrapper {
			background-color: rgba(66, 66, 66, 0.7);
        	bottom: 0px;
			height:40px;
			max-width: 300px;
			width: 100%;
            position: absolute;
			overflow: hidden;
			z-index: 6;
			.not-selectable();
		}

		.title-wrapper__text {
			color: white;
			font-size: 22px;
			font-weight: 500;
			margin: 0 10px 0px 10px;
			opacity: 1;
			text-shadow: 0px 2px 4px #000000;
		}

        .seasons-wrapper {
            display: inline-block;
            float: left;
            height: 110px;
            overflow: hidden;
			position: absolute;
			margin-left: 10px;
            width: calc(100% ~"-" 400px);
            bottom: 0;

            .season {
                height: 0;
                font-size: 6px;
				transition: all 0.2s ease;
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				justify-content: flex-start;
				align-items: flex-start;
				overflow: hidden;

                &.active {
                    height: 23px;
					font-size: 16px;
    				line-height: 19px;

					&:first-child {
						margin-top: 15px;
					}

					.episodes-wrapper {
						height: 19px;
						overflow: hidden;

						.episode-container {
							width: 13px;
						}
					}

					.season-title {
						width: 65px;
					}
                }

                &.preactive {
                    height: 17px;
					font-size: 12px;
    				line-height: 12px;
                }

                .season-title {
					display: table;
					width: 48px;
					transition: width 0.2s ease;
					order: 0;
					flex-grow: 0;
					flex-shrink: 1;
					flex-basis: auto;
					align-self: auto;
					.not-selectable();
                }

                .episodes-wrapper {
					display: inline-block;
					margin-left: 5px;
					order: 0;
					flex-grow: 1;
					flex-shrink: 1;
					flex-basis: auto;
					align-self: auto;
					height: 14px;
					overflow: hidden;

                    .episode-container {
						display: inline-block;
						padding: 0px 2px;
						width: 9px;
						transition: width 0.2s ease;

						button {
							background: none;
							border: none;
							color: #b5b5b5;
							padding: 0;
							transition: color 0.3s ease;
							cursor: pointer;
							outline: none;

							&.fa-square-o:hover {
								color: white;
							}
						}
					}

					button.fa-eye {
						background: none;
						border: none;
						color: #b5b5b5;
						padding: 0;
						transition: color 0.3s ease;
						cursor: pointer;
						outline: none;
						padding-left: 15px;

						&:hover {
							color: white;
						}
					}
                }
            }

            .season-navigation {
                position: absolute;
				right: 5px;
				padding-top: 4px;
				top: 0;
				flex-direction: column;
				flex-wrap: nowrap;
				justify-content: flex-start;
				align-items: flex-start;
				display: flex;

                div {
                  -webkit-touch-callout: none; /* iOS Safari */
                    -webkit-user-select: none; /* Safari */
                     -khtml-user-select: none; /* Konqueror HTML */
                       -moz-user-select: none; /* Firefox */
                        -ms-user-select: none; /* Internet Explorer/Edge */
                            user-select: none; /* Non-prefixed version, currently
                                                  supported by Chrome and Opera */
				}

				button {
					background: none;
					border: none;
					color: #b5b5b5;
					padding: 0;
					transition: color 0.3s ease;
					cursor: pointer;
					outline: none;

					&:hover {
						color: white;
					}
				}
            }
        }
    }
}
