@import "../../../src/resources/default.less";
@import "../../../src/resources/mixins.less";
@import "../../../src/resources/definitions.less";

.view-series-wrapper {
	.series-container {
		.flex-container-row(wrap, flex-start, flex-start);

		.series-header {
			position: relative;
			display: inline-flex;
			overflow: hidden;
			width: 100%;
			max-width: 500px;
			height: 281px;
			margin-right: 8px;

			&--link {
				color: @text-color-1;
				text-shadow: @text-color-1-text-shadow;
				position: absolute;
				left: 8px;
				top: 5px;
			}

			.series-name-wrapper {
				background-color: @text-color-1-background;
				bottom: 0;
				height: 70px;
				width: 100%;
				position: absolute;
				overflow: hidden;
				z-index: 6;
				.not-selectable();

				.series-name {
					color: @text-color-1;
					text-shadow: @text-color-1-text-shadow;
					font-size: 46px;
					font-weight: 500;
					line-height: 64px;
					margin: 0px 10px 0px 10px;
					height: 70px;
				}
			}

			.genre-wrapper {
				position: absolute;
				right: 0;
				top: 0;

				.genre-badge {
					color: @text-color-1;
					text-shadow: @text-color-1-text-shadow;
					background-color: @text-color-1-background;
					display: inline-block;
					padding: 0 5px;
					margin-right: 2px;
				}

				:last-child {
					margin-right: 0;
				}
			}
		}

		.series-actions {
			// display: inline-block;
			height: 281px;
			// margin: 0 0 10px 8px;
			border-left: 1px solid @border-color;
			color: @text-color-1;
			padding-left: 10px;
			flex-grow: 1;
			// width: calc(100% ~"-" 519px);

			.flex-container-column(nowrap, flex-start, flex-start);

			.head {
				.flex-container-row(nowrap, flex-start, flex-start);
				width: 100%;

				.input-wrapper {
					.flex-item(1, 1, 1, auto, auto);

					.input-container {
						.flex-container-column(nowrap, flex-start, flex-start);

						input {
							background: none;
							border: none;
							border-bottom: 2px solid rgba(34,36,38,.15);
							height: 32px;
							// padding: 1px 10px 1px 10px;
							border-radius:0;
							color: white;
							width: 300px;
							transition: color,background,border-bottom 0.3s ease;

							&:focus {
								border-bottom: 2px solid white;
								color: white;
								outline: none;
							}
						}
					}
				}

				.action-wrapper {
					.flex-item(2, 0, 1, auto, auto);

					&:last-child {
						margin-left: 15px;
					}
				}
			}

			.spacer {
				.flex-item(2, 1, 1, auto, auto);
			}

			button.save {
				.clear-button();
				color: @text-color-1;
				text-shadow: @text-color-1-text-shadow;
				background-color: @text-color-1-background;
				height: 36px;
				margin-top: 30px;
				font-size: 16px;
				text-shadow: none;
				width: 160px;
				box-shadow: 0px 0px 0px 0px white;
				transition: box-shadow 0.1s ease;

				.flex-item(3, 0, 1, auto, flex-start);

				&:hover {
					box-shadow: 0 0 10px 0 white;
				}
			}
		}

	}
	.series-content {
		&--description {
			color: @text-color-2;
			line-height: 18px;
		}

		table.season-wrapper {
			color: @text-color-1;
			border-collapse: collapse;

			button {
				.default-icon-button();
				color: @text-color-2;
			}

			thead {
				tr {
					th {
						text-align: left;
						padding: 5px;
					}
				}
			}

			.episodes-wrapper {
				tr {
					line-height: 13px;

					td {
						border-spacing: 0;
						border-collapse: unset;
						padding: 5px;
					}

					&:nth-child(odd) {
						background-color: @text-color-1-background;
					}
				}

			}
		}
	}
}