@import "src/resources/mixins.less";
@import "src/resources/definitions.less";

.chat-container {
	position: fixed;
	right: 5px;
	bottom: 0;
	background: @text-color-1-background;
	border-top: 1px solid @border-color;
	border-left: 1px solid @border-color;
	border-right: 1px solid @border-color;
	line-height: 11px;
	cursor: pointer;
	.not-selectable();

	.connection-head {
		width: 100%;
		height: 15px;

		.connection-symbol {
			border-radius: 100%;
			background-color: greenyellow;
			width: 5px;
			height: 5px;
			float: left;
			margin: 5px 5px 5px 5px;
		}

		.connections-amount {
			text-shadow: @text-color-1-text-shadow;
			color: @text-color-1;
			float: right;
			margin-right: 5px;
		}
	}

	.collapsable {
		
		transition: height 0.7s ease, width 0.2s ease;
		height: 300px;
		width: 300px;
		overflow: hidden;
		padding: 0 5px;

		.chat-user {
			padding: 5px 0;
		}

		&.collapsed {
			transition: height 0.3s ease, width 0.7s ease;
			height: 0;
			width: 0;
		}
	}
}