@import "../../../src/resources/default.less";
@import "../../../src/resources/definitions.less";

@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}

.series-table-wrapper {
    margin-top: 1rem;
	.series-table-header {
		border-bottom: 1px solid @border-color;
		margin-bottom: 5px;
		display: flex;
		flex-direction: row;

		.spacer {
			order: 2;
			flex-grow: 1;
		}

		button {
			background: none;
			border: none;
			outline: none;
			color: @text-color-2;
			cursor: pointer;
			transition: @text-color-2-transition;

			&:hover {
				color: @text-color-2-hover;
			}

			&.filter-toggle, &.toggle-sort {
				order: 1;
				flex-grow: 0;
				text-align: left;
				padding-left: 0;
				padding-right: 8px;
				padding-bottom: 4px;
				border-right: 1px solid @border-color;
				margin-right: 8px;

				.text-white {
					color: white;
				}

				.disabled {
					color: rgba(181, 181, 181, 0.5);
				}
			}

			&.updater {
				order: 3;
				flex-grow: 0;
				text-align: right;
				padding-bottom: 4px;
				padding-right: 0;
			}
		}

		.dropdown {
			.flex-item(2, 0, 0, auto, auto);

			&--button {
				color: @text-color-2;
				transition: @text-color-2-transition;

				&:hover {
					color: @text-color-2-hover;
				}
			}

			&--list-item {
				background:rgba(59, 70, 82, 0.9);
				transition: color 0.3s ease;
				border-bottom: solid 1px @border-color;

				&:hover {
					background: rgba(119, 119, 119, 0.8);
					color: @text-color-2-hover;
				}

				&.selected {
					color: @text-color-2-hover;
				}
			}
		}
	}

	.series-table-content {
		.series-placeholder {

			overflow: auto;

			.image {
				width: 300px;
				margin-bottom: 10px;
				position: relative;
				overflow: hidden;
				height: 96px;
				float: left;

				animation-duration: 1s;
				animation-fill-mode: forwards;
				animation-iteration-count: infinite;
				animation-name: placeHolderShimmer;
				animation-timing-function: linear;
				background: rgba(66, 66, 66, 0.7);
				background: linear-gradient(to right, rgba(66, 66, 66, 0.7) 8%, rgba(138, 138, 138, 0.7) 18%, rgba(66, 66, 66, 0.7) 33%);
				background-size: 800px 104px;
			}

			.season {
				margin-left: 10px;
				height: 19px;
				float: left;
				width: calc(100% ~"-" 310px);

				animation-duration: 1s;
				animation-fill-mode: forwards;
				animation-iteration-count: infinite;
				animation-name: placeHolderShimmer;
				animation-timing-function: linear;
				background: rgba(66, 66, 66, 0.7);
				background: linear-gradient(to right, rgba(66, 66, 66, 0.7) 8%, rgba(138, 138, 138, 0.7) 18%, rgba(66, 66, 66, 0.7) 33%);
				background-size: 1000px 19px;

				&:last-child {
					margin-top: 10px;
				}
			}
		}
	}
}