@font-face { 
	font-family: 'palanquin-regular';
	src: url('assets/fonts/palanquin/palanquin-regular.ttf') format('truetype'); 
}

@font-face { 
	font-family: 'palanquin-bold';
	src: url('assets/fonts/palanquin/palanquin-bold.ttf') format('truetype'); 
}

html, body {
	margin: 0;
	height: 100%;
}
body {
	overflow: auto;
}

body::-webkit-scrollbar { width: 5px; }
body::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); -webkit-border-radius: 0px; border-radius: 0px; width: 5px; }
body::-webkit-scrollbar-thumb { width: 5px; -webkit-border-radius: 0; border-radius: 0; background: rgba(255, 255, 255, 0.8); -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); }
body::-webkit-scrollbar-thumb:window-inactive { background: rgba(234, 234, 234, 0.4); width: 5px; }

h1, h2, h3 {
	font-family: 'palanquin-bold';
}

html {
	background: url("bg.jpg");
	font-family: 'palanquin-regular';
	color: #b5b5b5;
	overflow: hidden;
}

html li {
	transition: color 0.3s ease;
}

html li:hover {
	color: white;
}

body {
	background-color: rgba(0, 0, 0, 0.5);
}
