.series-table-wrapper {
	.series-table-header {
		border-bottom: 1px solid rgba(181, 181, 181, 0.3);
		margin-bottom: 5px;
		padding-bottom: 5px;
		display: flex;
		flex-direction: row;

		button {
			background: none;
			border: none;
			outline: none;
			color: rgb(181, 181, 181);
			cursor: pointer;
			transition: color 0.3s ease;

			&:hover {
				color: white;
			}
		}
	}

	.series-table-content {

	}
}