.updateBlocker {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	background: rgba(51, 51, 51, 0.8);
	z-index: 999;

	.updateBlockerText {
		order: 0;
		flex-grow: 1;
		flex-shrink: 1;
		flex-basis: auto;
		text-align: center;
		align-self: center;
		font-family: 'palanquin-bold';
		font-size: 46px;
		margin-top: -50px;
	}
}

.series-table-wrapper {
	.series-table-header {
		border-bottom: 1px solid rgba(181, 181, 181, 0.3);
		margin-bottom: 5px;
		padding-bottom: 5px;
		display: flex;
		flex-direction: row;

		button {
			background: none;
			border: none;
			outline: none;
			color: rgb(181, 181, 181);
			cursor: pointer;
			transition: color 0.3s ease;

			&:hover {
				color: white;
			}

			&.filter-toggle {
				flex-grow: 1;
				text-align: left;
			}
		}
	}

	.series-table-content {

	}
}