.options-wrapper {
	.options-container {
		button {
			background: none;
			border: none;
			color: #b5b5b5;
			padding: 0;
			transition: color 0.3s ease;
			cursor: pointer;
			outline: none;

			&:hover {
				color: white;
			}
		}
	}
}