@import "src/resources/mixins.less";
@import "src/resources/definitions.less";

.options-wrapper {
	.options-container {
		button {
			background: none;
			border: none;
			color: @text-color-2;
			padding: 0;
			transition: @text-color-2-transition;
			cursor: pointer;
			outline: none;

			&:hover {
				color: @text-color-2-hover;
			}
		}
	}
}