.header-wrapper {
	border-bottom: 1px solid rgba(181, 181, 181, 0.3);
	padding: 15px 30px;
	flex-direction: row;
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
}