.dialog-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
	bottom: 0;
	display: flex;
    // align-items: center;
    justify-content: center;
    align-content: center;
	display: none;
	background: rgba(0, 0, 0, 0.5);

	transition: background 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715);

	&.visible {
		display: flex;
	}

	&.fadein {
		background: rgba(0, 0, 0, 0.5);
	}

	&.fadeout {
		background: rgba(0, 0, 0, 0);
	}
}

.dialog {
	background: white;
    margin-top: 150px;
    width: 500px;
    max-width: 80%;
	max-height: 500px;

	&-header {
		background: rgb(90, 78, 119);
		color: white;
		padding: 5px;
	}

	&-body {
		padding: 5px;
	}
}

.puff-in-center {
	-webkit-animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

.puff-out-center {
	-webkit-animation: puff-out-center 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
	        animation: puff-out-center 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
}

@-webkit-keyframes puff-in-center {
	0% {
		-webkit-transform: scale(2);
				transform: scale(2);
		-webkit-filter: blur(2px);
				filter: blur(2px);
		opacity: 0;
	}
	100% {
		-webkit-transform: scale(1);
				transform: scale(1);
		-webkit-filter: blur(0px);
				filter: blur(0px);
		opacity: 1;
	}
	}
	@keyframes puff-in-center {
	0% {
		-webkit-transform: scale(2);
				transform: scale(2);
		-webkit-filter: blur(2px);
				filter: blur(2px);
		opacity: 0;
	}
	100% {
		-webkit-transform: scale(1);
				transform: scale(1);
		-webkit-filter: blur(0px);
				filter: blur(0px);
		opacity: 1;
	}
}

@-webkit-keyframes puff-out-center {
	0% {
		-webkit-transform: scale(1);
				transform: scale(1);
		-webkit-filter: blur(0px);
				filter: blur(0px);
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(2);
				transform: scale(2);
		-webkit-filter: blur(2px);
				filter: blur(2px);
		opacity: 0;
	}
}

@keyframes puff-out-center {
	0% {
		-webkit-transform: scale(1);
				transform: scale(1);
		-webkit-filter: blur(0px);
				filter: blur(0px);
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(2);
				transform: scale(2);
		-webkit-filter: blur(2px);
				filter: blur(2px);
		opacity: 0;
	}
  }
  